<img class="avatar" src="/images/avatar.jpg" />
<div class="info">
  {{#link-to 'user' chirp.user.username}}
    {{chirp.user.username}}
  {{/link-to}}
  <time>{{ago chirp.createdAt}}</time>
  <p>{{chirp.text}}</p>
</div>