<header>
	<div class="page-container">
		<div class="logo"></div>

		{{#if session.isAuthenticated}}
			<nav>
				{{#link-to "home"}}Home{{/link-to}}

				{{#link-to "user" session.currentUser.username}}
					<img class="avatar" src="/images/avatar.jpg" />
					{{session.currentUser.username}}
				{{/link-to}}

				<button class="chirp" {{action 'toggleComposeModal'}}>Chirp</button>
			</nav>
		{{/if}}
	</div>
</header>

{{liquid-outlet}}

{{#if showingComposeModal}}
  {{#modal-dialog close=(action 'toggleComposeModal')}}
    {{compose-modal dismiss=(action 'toggleComposeModal')}}
  {{/modal-dialog}}
{{/if}}